/db/*.sqlite3

/node_modules
/coverage
/doc
/.git
/.github
/.bundle
/.yardoc

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/pids/*
!/tmp/pids/.keep

/storage/*
!/storage/.keep

.byebug_history

/config/master.key
/public/packs-test
LICENSE
.DS_Store
motor-admin.env
motor-admin.sqlite3

/config/motor.yaml
/motor-admin-attachments
/docs
/vendor/motor-admin/ui/node_modules
/vendor/motor-admin/ui/dist
/vendor/motor-admin/spec
/vendor/motor-admin/.git

/vendor/motor-admin-pro/ui/node_modules
/vendor/motor-admin-pro/ui/dist
/vendor/motor-admin-pro/spec
/vendor/motor-admin-pro/.git
